body 
{
  background-image: url("../Images/matrix-background.jpg");    
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

ac 
{
  text-align: center;
}

h1 
{
  text-align: center;
}

p 
{
  font-family: verdana;
  font-size: 20px;
}

pcentre
{
  text-align: center;
  font-family: verdana;
  font-size: 20px;

}

.container 
{
    display: grid;
    grid-template-areas:
        "header header"
        "menu content"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 5px;
    background-color: #2196F3;
    padding: 5px;
}

.container > div 
{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}

.container > div.header 
{
    grid-area: header;
    text-align: center;
}

.container > div.menu 
{
    grid-area: menu;
}

.container > div.content 
{
    grid-area: content;
}


.container > div.footer 
{
    grid-area: footer;
}

img
{
  width:100%;
}